$primary: #f0634c;
$secondary: #338095;
$tertiarty: #9fdc46;
$white: white;
$background: $white;
$black: black;

ul {
  list-style-type: none;
  &.categories {
    margin: 0;
    padding: 0;
    text-align: center;
    li {
      display: inline-block;
      button {
        min-width: 20rem;
      }
    }
  }
}

category-selector.col-xs-4 {
  padding: 0.2rem;
}

a.thumbnail {
    padding-top: 2.6rem;
    .caption h3 {
        text-align: center;
        margin: 0;
    }
}

.btn-primary {
    color: #fff;
    background-color: $secondary;
}

.breadcrumb {
    background-color: $primary;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

main.container {
    padding-top: 3.8rem;
}

a {
  color: $white;
}